<div class="container">
    <div class="row">
        <div class="col-md-4">
            <select class="status">
                <option>-select-</option>
            </select>
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-small btn-primary">{{'newTask'|translate}}</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4" ng-repeat="task in tc.ALL_TASKS">
            <div class="task-box">
                <div class="row">
                    <div class="col-md-6">{{task.name}}</div>
                    <div class="col-md-6">Icons</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{'Description'|translate}}: {{task.description}}</p>
                        <p>{{'Status'|translate}}: {{task.status}}</p>
                        <p>{{'Start date'|translate}}: {{task['start-date']}} {{'End date'|translate}}:{{task['end-date']}}</p>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>