a[class^='lang-'] {
    cursor:pointer;
    font-size:20px;
}
.task-box {
    border:1px solid #999;
    padding:5px;
    background:white;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.capitalize{
    text-transform: capitalize;
}
body {
    background:#eee;
}
input.task-selected-item{
    width: 26px;
    height: 23px;
}
.control-section, .header-section{
    border-bottom:2px solid #666;
}
.page-box {
    border:2px solid #666;
    margin-top:10px;
    margin-bottom:10px;
}
.add-btn{
    margin-bottom:12px;
}
.lang-switch{
    margin-top:8px;
}
.lang-switch a:last-child{
    border-left:2px solid #999;
    padding-left:2px;
}